canvas { width: 100%; height: 100% }

#title {
  text-align:center;
  color:white;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  width: 250px;
}

#scoreNumber {
  text-align:center;
  color:white;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  width: 250px;
}

.uiText {
  text-align:center;
  color:white;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  width: 250px;
}

#menuBar {
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:center;
  width: 100%;
}

#menuBar li {
  display:inline-block;
}
