body {
  background-color:black;
}

#titleBar {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  width: 1000;
}

#menuBar {
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:center;
  width: 1000;
  position:absolute;
}

#menuBar li {
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
}

#webglDiv {
  display: inline-block;
  width: 100%;
  background-image: url('../img/rainbow.gif');
}

#scores {
  vertical-align:top;
  float: none;
  overflow: hidden;
}

.uiText {
  text-align:center;
  color:black;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  width: 200px;
  background-color: white;
}

.spacerDiv {
  width: 200px;
}

.uiTitle {
  text-align:center;
  color:white;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  width: 500px;
}

.highscoresText {
  text-align:center;
  color:black;
  background-color:white;
  font-size:24;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.footerText {
  text-align:center;
  color:white;
  font-size:12;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
